
<%= render 'form', article: @article %>
<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="title is-4">
          <h4>Recent Articles</h4>
        </div>
        <%@articles.each do |article| %>
        <div class="box">
          <div class="media">
            <div class="media-content">
              <div class="content">
                <%= article.body %>
              </div>
            </div>
          </div>
        </div>
        <%end%>
      </div>
  </div>     
  </div>
</div>
