<%= render 'form', article: @article %>

<h1>Recent Articles</h1>

<table>
  <thead>
    <tr>
      <th>Article</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
